.car-image {
  width: 200px;
  height: 100px;
  object-fit: cover; 
}

.car-list-container {
  text-align: left; 
  padding-left: 10%;
}
.CarItem {
  margin-bottom: 20px; 
}

.App {
  text-align: center;
}